body{

    margin: 0%;
}

nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

nav > ul     {
    display: flex;
    background-color: rgb(255, 255, 255);
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0%;
    margin-right: 50px ;
    }

a{
text-decoration: none;
}

a:hover{
    color: #FBDABB;
    text-shadow: 2px 2px #333333;
}

a:active {
    color: #F4CE14;
}

a:visited{
text-decoration: none;
}

.placeholder {
    display: flex;
    background-color: #FBDABB;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 16px;
}

.specials{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: #495E57;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.flexH {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;

}

.header {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    max-width: fit-content;
}

.main {
    background-color: #F4CE14;
}

.card {

    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 500px;
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}




.testimonialCard {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 175px;
    background-color:#EDEFEE;
    border-radius: 20px;
    overflow: hidden;
}

.specials{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: #495E57;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.testimonials{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #495E57;
    color:white;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;

}

.specialgrid {
    margin: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 150px 200px 100px;
}

.one {
    grid-column: 1 / span 2
}

.align-right {
    justify-self: end;

}

.about{
    background-color: #ffffff;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

/*
* //////////////   Main   ///////////////////
*/

main {
    background-color: #495E57;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}

.myimg {
    display: flex;
    height: 500px;
}

main > div > img {
    margin-top: 5%;
    margin-left: 20%;
    height: 100%;
    border-radius: 20px;
    padding: 0;
    background-color: #F4CE14;
}

.nest {
    grid-column: 2 ;
    padding:0;
    margin: 10%;
    display: flex;
    flex-direction: column;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
}

.about > div {
    margin-top: 10%;
    margin-bottom: 10%;
}

.about > div > p {
margin: 0%;
margin-left: 30%;
margin-right: 10%;
}

#Mario {
margin-top: 20%;
margin-left: -80%;
}


.displayTitle {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 64pt;
  margin: 0;
}

.subTitle {
  margin: 0;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 40pt;
  color: #ffffff;
}



.leadText {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 18pt;

}

.sectionTitle {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: medium;
  font-size: 20pt;
}


section {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.primary-white {
color: white;
}

.primary-green {
color:#495E57
}

.background-primary-green{
    background-color: #495E57;
}

.secondary-yellow {
color: #F4CE14;
}

.button-specials{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 10px;
 background-color: #F4CE14;
 width: 100%;
 height: 32px;
 border-radius: 16px;
 border: none;
 box-shadow: 2px 2px #333333;
 list-style: none;
}

.button-specials:hover{
    color: #495E57;
    background-color: #FBDABB;
    box-shadow: none;
    border: none;
}

button-specials:active{
     background-color: #F4CE14;
     color: #EDEFEE;
}

button{
 background-color: #F4CE14;
 width: 100px;
 height: 32px;
 border-radius: 16px;
 border: none;
 box-shadow: 4px 4px #333333;
}

button:hover{
    color: #495E57;
    background-color: #FBDABB;
    box-shadow: none;
    border: none;
}

button:active{
     background-color: #F4CE14;
     color: #EDEFEE;
}





/*
* //////////////   Footer   ///////////////////
*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: fit-content;
}

footer > img {
    grid-column: 1;
}

.navigation {
    grid-column: 2;
}
.contact {
    grid-column: 3;
}
.social {
    grid-column: 4;
}

footer > ul {
    text-decoration: none;
    list-style: none;
}

/* ul > li > a {
    color: red;
} */



.fish {
    width: 300px;
    margin: 20px;
    border-radius: 16px;
}

    footer > ul > li {
        padding-bottom: 20px;
    }

/* /////// cards ///////// */


    /*
    * //////////////   Nav   ///////////////////
    */

 .cardTitle {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: medium;
  font-size: 18pt;
    }

 .paragraphText {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 16pt;
    }

 .highlight {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: medium;
  font-size: 16pt;
  list-style: none;
}




.cardflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: right;
}


@media  (max-width: 768px){

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

        button{
            /* display: flex; */
        width: 100%;
    }


    nav {
        display: flex;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding-bottom: 2%;
    }

    nav > ul     {
        background-color: rgb(255, 255, 255);
        flex-basis: 100%;
        gap: 2rem;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin: 0%;
        flex-wrap: wrap;
        }

    li:first-child {
    flex-basis: 100%;
    }

    ul > li > img {
        width: 90%;
    }

    main > div > img {
        margin: 0;
    }

    a{
    text-decoration: none;
    }

    a:visited{
    text-decoration: none;
    }

/* ////////////// About ////////////// */

    .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .about > div > p {
    margin-left: 10%;
    margin-right: 10%;
    }

#Mario {

    margin: 0%;
    margin-top: -300px;
    margin-right: 50px;
}

.flexH {
    display: flex;
    flex-direction: column;
    gap: 5%;
    /* justify-content: center; */
    align-items: left;
}



    /*
    * //////////////   Main   ///////////////////
    */

    main {
        background-color: #495E57;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    section {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }



    /*
    * //////////////   Footer   ///////////////////
    */

    /* footer {
        display: flex;
        flex-direction: column;
    } */

    .fishflex{
        display:flex;
        flex-direction: row;

    }

    footer > ul > li {
        padding-bottom: 20px;
    }
    .fish {
        margin: 5%;
        width: 90%;
        align-items: center;
        border-radius: 16px;
    }

    .myimg {

        width: 100%;
        align-items: center;
    }

        footer {
        display: flex;
        flex-direction: column;
    }
}